@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary Colours*/
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --greyish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --dark-grey: hsl(0, 0%, 59%);

    /* Typography */
    --font-primary: 'Kumbh Sans', sans-serif;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;

    /* Typography */
    font-size: 0.75rem;
    font-family: var(--font-primary);
    color: var(--greyish-blue);

    /* Background */
    background-color: var(--dark-cyan);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 40vw bottom 50vh, left 40vw top 50vh;
}

main {
    background-color: #ffff;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--dark-blue);
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: -50px;
    margin-bottom: -3em;
}

.age {
    font-weight: 400;
    color: var(--greyish-blue);
}

/* Attributions */
.attribution { 
    font-size: 0.6875rem;
    color: #ffff; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}