@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary Colours*/
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --greyish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --dark-grey: hsl(0, 0%, 59%);

    /* Typography */
    --font-primary: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /* Typography */
    font-size: 0.75rem;
    font-family: var(--font-primary);
    color: var(--greyish-blue);

    /* Background */
    background-color: var(--dark-cyan);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 35vw bottom 50vh, left 35vw top 50vh;
}

main {
    display: grid;
    justify-items: center;
    background-color: #ffff;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--dark-blue);
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

.pro


/* Attributions */
.attribution { 
    font-size: 0.6875rem;
    color: #ffff; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}